<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-RentBooks-20190824024459.mdf;Initial Catalog=aspnet-RentBooks-20190824024459;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>