@model IEnumerable<RentBooks.Models.Rental>
@{
    ViewBag.Title = "Home Page";
}

<p>
    <h2>Rented books</h2>
</p>


<table id="rentedBooks" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Book</th>
            <th>Date Rented</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            string deadlineExceeded = (DateTime.Now - rental.DateRented).TotalDays > 15 ? "table-danger" : "";
            <tr class="@deadlineExceeded">
                <td>@rental.Customer.Name</td>
                <td>@rental.Book.Name</td>
                <td>@rental.DateRented.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#rentedBooks").DataTable();
        });
    </script>
}